{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    {% for stage in stage %}
    <h2>{{ stage.get_stage_display }}</h2>
        <ul>
            {% for task in tasks %}
                {% if task.stage == stage %}
                    <li>
                       {{ task.name }}
                        <ul>
                            Projeto: {{task.projects}}
                            <div>
                                Data e Hora: {{task.start_date}}
                            </div>
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>
{% endblock %}